<p class="footer-text">&copy; 2022 - <%= website.name %></p>

<style>
  .footer-text {
    width: 100%;
    color: #bbb;
    font-size: 14px;
    margin: 32px auto;
    text-align: center;
  }
</style>